NODE_ENV=development
PORT=3000
USERNAME=kmieshkov
DATABASE=mongodb+srv://kmieshkov:<PASSWORD>@cluster0.6qcos.mongodb.net/voyage?retryWrites=true&w=majority&appName=Cluster0
DATABASE_LOCAL=mongodb://localhost:27017/voyage
DATABASE_PASSWORD=123456789

# For best encryprion should be 32 chars long
JWT_SECRET=secret
JWT_EXPIRES_IN=90d
JWT_COOKIE_EXPIRES_IN=90

# DEVELOPMENT Email Service
EMAIL_HOST=sandbox.smtp.mailtrap.io
EMAIL_PORT=2525
EMAIL_USERNAME=real-email-address
EMAIL_PASSWORD=password-from-email-account

# PRODUCTION Email Service
BREVO_HOST=host
BREVO_PORT=port
BREVO_USERNAME=username
BREVO_PASSWORD=smtp-key
BREVO_API=api

# IMPORTANT: Should be a valid email address from Brevo account Senders to work on production
EMAIL_FROM=voyage@example.com

STRIPE_SECRET_KEY=secret